/* Estilos para los botones */
.contenedor-botones {
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
  }
  

  /* Estilos específicos para cada botón */
  #historia {
    background-color: #000000;
    color: aliceblue;
    position: relative;
    top: 30%;
    left: auto;
    width: 40%;
    top: 50%;
    transform: translateY(-90%);
    transform: translateX(1000%);
    text-align: center;
    
  }
  
  #caracteristicas {
    background-color: #f44336;
  }
  
  #cronologia {
    background-color: #008CBA;
  }
  
  #temas {
    background-color: #FF9800;
  }
  

/* Estilos para la imagen */
.contenedor-imagenes{
  position: relative;
  display: inline-block;
}

.banner img{
    position: absolute;
    top: 0%;
    left: 13%;
    z-index: 2;
    width: 75%; /* Cambia el ancho de la imagen */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
    align-items: center;
}

.fondo img{
  position: relative;
  z-index: 1;
  width: 100%; /* Cambia el ancho de la imagen */
  height: auto; /* Mantiene la relación de aspecto original de la imagen */
  align-items: center;
  display: block;
}

.banner-botones img{
  position: absolute;
  top: 66.7%;
  left: 12.7%;
  z-index: 2;
  width: 75.5%; /* Cambia el ancho de la imagen */
  height: auto; /* Mantiene la relación de aspecto original de la imagen */
  align-items: center;

}

.logo-doom img{
  position: absolute;
  top: 14.5%;
  left: 28.5%;
  z-index: 3;
  width: 40.5%; /* Cambia el ancho de la imagen */
  height: auto; /* Mantiene la relación de aspecto original de la imagen */
  align-items: center;

}