/* Estilos para los botones */
.boton {
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
  

  /* Estilos específicos para cada botón */
  #historia {
    background-color: #4CAF50;
    position: relative;
    top: 50%;
    transform: translateY(-90%);
    transform: translateX(1000%);
    text-align: center;

  }
  
  #caracteristicas {
    background-color: #f44336;
  }
  
  #cronologia {
    background-color: #008CBA;
  }
  
  #temas {
    background-color: #FF9800;
  }
  